<nav class="nav">
    <a class="Old-Fashioned" href="#">Old-Fashioned | Bar</a>
    <button type="button" class="btn ginBtn">Gin</button>
    <button type="button" class="btn VodkaBtn">Vodka</button>
    <button type="button" class="btn BourbonBtn">Bourbon</button>
    <button type="button" class="btn TequilaBtn">Tequila</button>
</nav>

<div class="container">
    <div class="modal" id="barModal"></div>
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Drink Ingredients</h5>
            </div>
            <div class="modal-body">
                <textarea id='areaforingredients'></textarea>
                <form id="ingredients" class="form-horizontal">
            </div>
            <div class="modal-footer">
                <button type="button" class="submitBtn submitBtn">Submit</button>
            </div>
        </div>
    </div>
</div>
</div>

