<form id="ingredients" class="form">
    <input type="file" name="file" id="file" class="form-control btn btn-outline-dark">
    <textarea id='areaforingredients' class="form-control"></textarea>

<div class="form-group">
    <button type="button" class="btn btn-primary submitBtn form-control">Submit</button>
</div>
</form>