<!DOCTYPE html>
<html lang="en">
<head>
 <meta charset="UTF-8">
 <meta http-equiv="X-UA-Compatible" content="IE=edge">
 <meta name="viewport" content="width=device-width, initial-scale=1.0">
 <title>Old-Fashioned | Gin</title>
</head>
<body>
 <nav class="nav">
    <a class="Old-Fashioned" href="/index">Old-Fashioned | Bar</a>
    <a href="/gin" class="btn ginBtn">Gin</a>
    <a href="/vodka" class="btn VodkaBtn">Vodka</a>
    <a href="/bourbon" class="btn BourbonBtn">Bourbon</a>
    <a href="/tequila" class="btn TequilaBtn">Tequila</a>
</nav>
</body>
</html>