<nav>
    <a class="Old-Fashioned" href="/home">Old-Fashioned | Bar</a>
    <a href="/create/gin" class="ginBtn">Gin</a>
    <a href="/create/vodka" class="VodkaBtn">Vodka</a>
    <a href="/create/bourbon" class="BourbonBtn">Bourbon</a>
    <a href="/create/tequila" class="TequilaBtn">Tequila</a>
</nav>

<section class="drink-container">
  <div class="card">
    <h3 class="card-header">Old Fashioned</h3>
    <ul class="card-text">
      <li>1/2 ounce sugar</li>
      <li>3 dashes angostura bitters</li>
      <li>1 teaspoon water</li>
      <li>2 ounces bourgon</li>
      <li>orange peel garnish</li>
    </ul>
  </div>
  <div class="card">
    <h3 class="card-header">Whiskey Sour</h3>
    <ul class="card-text">
      <li>2 ounces bourbon</li>
      <li>3/4 ounce lemon juice</li>
      <li>3/4 ounce simple syrup</li>
      <li>1/2 orange wheel</li>
      <li>maraschino cherry garnish</li>
    </ul>
  </div>
  <div class="card">
    <h3 class="card-header">Classic Kentucky Mule</h3>
    <ul class="card-text">
      <li>2 ounces bourbon</li>
      <li>1/2 ounce lime juice</li>
      <li>4 ounces ginger beer</li>
      <li>mint garnish</li>
      <li>lime wedge garnish</li>
    </ul>
  </div>
  <div class="card">
    <h3 class="card-header">Gold Rush</h3>
    <ul class="card-text">
      <li>2 ounces bourbon</li>
      <li>1 ounce lemon juice</li>
      <li>3/4 ounce honey</li>
      <li>lemon wedge garnish</li>
    </ul>
  </div>

</section>