<nav>
    <a class="Old-Fashioned" href="/">Old-Fashioned | Bar</a>
    <a href="/gin" class="btn ginBtn">Gin</a>
    <a href="/vodka" class="btn VodkaBtn">Vodka</a>
    <a href="/bourbon" class="btn BourbonBtn">Bourbon</a>
    <a href="/tequila" class="btn TequilaBtn">Tequila</a>
</nav>

<div class="container">
    <div class="modal" id="barModal"></div>
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Drink Ingredients</h5>
            </div>
            {{>ingredients}}
        </div>
    </div>
</div>

{{#if drink-info.length}}
<section>
    <h2>Your Drinks</h2>
        <ul>
            {{#each drink-info as |drink|}}
            <li>
                {{>drink-info drink}}
            </li>
            {{/each}}
        </ul>
</section>
{{/if}}
