<nav class="nav">
    <a class="Old-Fashioned" href="/">Old-Fashioned | Bar</a>
    <a href="/gin" class="btn ginBtn">Gin</a>
    <a href="/vodka" class="btn VodkaBtn">Vodka</a>
    <a href="/bourbon" class="btn BourbonBtn">Bourbon</a>
    <a href="/tequila" class="btn TequilaBtn">Tequila</a>
</nav>

<section>
    
</section>