<nav>
  <a class="Old-Fashioned" href="/home">Old-Fashioned | Bar </a>
  <a href="/create/gin" class="ginBtn">Gin</a>
  <a href="/create/vodka" class="VodkaBtn">Vodka</a>
  <a href="/create/bourbon" class="BourbonBtn">Bourbon</a>
  <a href="/create/tequila" class="TequilaBtn">Tequila</a>
</nav>

<section class="drink-container">
  <div class="card">
    <h3 class="card-header">Gin Fizz</h3>
    <ul class="card-text">
      <li>2 ounces gin</li>
      <li>3/4 ounces lemon juice</li>
      <li>1/2 ounce simple syrup</li>
      <li>1 egg white</li>
      <li>lemon twist garnish</li>
      <li>Soda water</li>
    </ul>
  </div>
  <div class="card">
    <h3 class="card-header">Tom Collins</h3>
    <ul class="card-text">
      <li>2 ounces London dry gin</li>
      <li>1 ounce lemon juice</li>
      <li>1/2 ounce simple syrup</li>
      <li>club soda</li>
      <li>lemon peel garnish</li>
      <li>maraschino cherry garnish</li>
    </ul>
  </div>
  <div class="card">
    <h3 class="card-header">Gimlet</h3>
    <ul class="card-text">
      <li>2 1/2 ounces gin</li>
      <li>1/2 ounce lime juice</li>
      <li>1/2 ounce simple syrup</li>
      <li>lime wheel garnish</li>
    </ul>
  </div>
  <div class="card">
    <h3 class="card-header">French 75</h3>
    <ul class="card-text">
      <li>1 ounce gin</li>
      <li>1/2 ounce lemon juice</li>
      <li>3 ounces Champagne</li>
      <li>lemon twist garnish</li>
    </ul>
  </div>

</section>