<nav>
  <a class="Old-Fashioned" href="/home">Old-Fashioned | Bar</a>
  <a href="/create/gin" class="ginBtn">Gin</a>
  <a href="/create/vodka" class="VodkaBtn">Vodka</a>
  <a href="/create/bourbon" class="BourbonBtn">Bourbon</a>
  <a href="/create/tequila" class="TequilaBtn">Tequila</a>
</nav>

<section class="drink-container">
  <div class="card">
    <h3 class="card-header">Margarita</h3>
    <ul class="card-text">
      <li>3 ounces tequila</li>
      <li>2 ounces lime juice</li>
      <li>1 ounce simple syrup</li>
      <li>1 teaspon orange liquer</li>
      <li>lime-salt-sugar for rim</li>
    </ul>
  </div>
  <div class="card">
    <h3 class="card-header">Paloma</h3>
    <ul class="card-text">
      <li>2 ounces tequila</li>
      <li>2 ounces grapefruit juice</li>
      <li>2 ounces sparkling water</li>
      <li>1/2 ounce lime juice</li>
      <li>1/4 ounce agave</li>
      <li>sea salt for rim</li>
    </ul>
  </div>
  <div class="card">
    <h3 class="card-header">Ranch Water</h3>
    <ul class="card-text">
      <li>3 ounces blanco tequila</li>
      <li>1 1/2 ounce lime juice</li>
      <li>Topo Chico</li>
      <li>lime wedge garnish</li>
    </ul>
  </div>
  <div class="card">
    <h3 class="card-header">Tequila Sunset</h3>
    <ul class="card-text">
      <li>1 ounce tequila</li>
      <li>4 ounces orange juice</li>
      <li>1/2 ounce blackberry brandy</li>
      <li>cherry garnish</li>
    </ul>
  </div>
  <div class="card">
    <h3 class="card-header">Marble Queen</h3>
    <ul class="card-text">
      <li>1.5 ounce tequila</li>
      <li>1 ounce cream of coconut</li>
      <li>1/2 ounce lime juice</li>
      <li>lime wedge garnish</li>
    </ul>
  </div>

</section>