<nav>
    <a class="Old-Fashioned" href="/home">Old-Fashioned | Bar</a>
    <a href="/create/gin" class="ginBtn">Gin</a>
    <a href="/create/vodka" class="VodkaBtn">Vodka</a>
    <a href="/create/bourbon" class="BourbonBtn">Bourbon</a>
    <a href="/create/tequila" class="TequilaBtn">Tequila</a>
</nav>

<section>
  <div class="card">
    <h3 class="card-header">White Russian</h3>
    <ul class="card-text">
      <li>2 ounces Kahula</li>
      <li>1 1/2 ounces vodka</li>
      <li>2-3 ounces heavy cream</li>
    </ul>
  </div>
  <div class="card">
    <h3 class="card-header">Bloody Mary</h3>
    <ul class="card-text">
      <li>2 1/2 ounces vodka</li>
      <li>3/4 cups tomato juice</li>
      <li>2 tbsp lemon juice</li>
      <li>2 tsp Worcestershire sauce</li>
      <li>2 dashes hot sauce</li>
      <li>1/4 tsp horseradish</li>
      <li>1 pinch celery salt</li>
      <li>1 pinch black pepper</li>
    </ul>
  </div>
  <div class="card">
    <h3 class="card-header">Lemon Drop</h3>
    <ul class="card-text">
      <li>2 ounces vodka</li>
      <li>3/4 ounce Cointreau</li>
      <li>1 ounce lemon juice</li>
      <li>3/4 ounce simple syrup</li>
      <li>ice</li>
      <li>lemon sugar for rim</li>
    </ul>
  </div>
  <div class="card">
    <h3 class="card-header">Sea Breeze</h3>
    <ul class="card-text">
      <li>1 ounce vodka</li>
      <li>1 ounce grapefruit juice</li>
      <li>4 ounces cranberry juice</li>
      <li>lime wedge garnish</li>
    </ul>
  </div>

</section>