.nav {
    background-color: #140d07;
    background: #140d07;
    font-family: 'Roboto', sans-serif;
    color: #ece9d7;
    border: 2px;
    border-color: #ece9d7;
    position: absolute;
    width: 1920px;
    height: 104px;
    margin: 0;
    font-size: 30px;
    position: fixed !important; 
    top: 0px; 
    padding: 0px; margin: 0px;
    text-decoration: none !important;
}

.Old-Fashioned {
    color: #ece9d7;
    font-family: 'Roboto', sans-serif;
    position: absolute;
    left: 50%;
    transform: translatex(-50%);
    padding: 25px;
}

.modal-title {
    text-align: center;
    background-color: #140d07;
    background: #140d07;
    border-color: #ece9d7;
}

.modal-body {
    background-color: #140d07;
    background: #140d07;
    border-color: #140d07;
}

.modal-footer {
    background-color: #140d07;
    background: #140d07;
    border-color: #140d07;
    justify-content: center;
}

.btn {
    background-color: #140d07;
    background: #140d07;
    width: 169px;
    height: 84px;
    color: #ece9d7;
    border-color: #ece9d7;
    border-radius: 0px;
    font-size: 20px;
}

.createBtn {
    background-color: #140d07;
    background: #140d07;
    width: 380px;
    height: 49px;
    color: #ece9d7;
    border-color: #ece9d7;
    border-radius: 0px;
    font-size: 20px;
}


.btn:hover {
    cursor: pointer;
    box-shadow: 0 0.4rem 1.4rem 0 #ece9d7;
    transition: transform 150ms;
    transform: scale(1.03);
    color: #ece9d7;
}

.createBtn:hover {
    cursor: pointer;
    box-shadow: 0 0.4rem 1.4rem 0 #ece9d7;
    transition: transform 150ms;
    transform: scale(1.03);
    color: #ece9d7;
}

.modal-header {
    background: #140d07;
    color: #ece9d7;
    text-align: center !important;
    justify-content: center !important;
}

.modal-dialog{ 
    text-align: center !important;
    justify-content: center !important;
}

.model-content{
    text-align: center !important;
    justify-content: center !important;
}

.container{
    text-align: center !important;
    justify-content: center !important;
}