body {
            background-image: url('https://images.pexels.com/photos/5490965/pexels-photo-5490965.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260');
            background-size: 100%;
            background-repeat: no-repeat;
            background-color: #140d07;
        }

header{
    background-color: #140d07;
    width: 100%;
    height: auto;
    z-index: 900px;
}

.nav {
    background-color: #140d07;
    background: #140d07;
    font-family: 'Roboto', sans-serif;
    color: #ece9d7;
    border: 2px;
    border-color: #ece9d7;
    /* width: 100%; */
    /* height: auto; */
    /* margin: 0; */
    font-size: 30px;
    /* position: fixed !important; */
    /* top: 0px;  */
    padding: 0px; margin: 0px;
    text-decoration: none !important;
    letter-spacing: 0.135em;
    text-align: center;
    justify-content: center;
}

.Old-Fashioned, a:hover, a:active {
    color: inherit;
    color: #ece9d7;
    font-family: 'Roboto', sans-serif;
    position: absolute;
    left: 50%;
    transform: translatex(-50%);
    padding: 25px;
    text-decoration: none;
    letter-spacing: 0.135em;
}

.modal-title {
    text-align: center;
    background-color: #140d07;
    background: #140d07;
    border-color: #ece9d7;
    letter-spacing: 0.135em;
    color: #ece9d7;
}

.modal-body {
    background-color: #140d07;
    background: #140d07;
    border-color: #140d07;
    letter-spacing: 0.135em;
}

.modal-footer {
    background-color: #140d07;
    background: #140d07;
    border-color: #140d07;
    justify-content: center;
    letter-spacing: 0.135em;
}

.btn {
    background-color: #140d07;
    background: #140d07;
    width: 169px;
    height: 84px;
    color: #ece9d7;
    border-color: #ece9d7;
    border-radius: 0px;
    font-size: 20px;
    letter-spacing: 0.135em;
}

.createBtn {
    background-color: #140d07;
    background: #140d07;
    width: 380px;
    height: 49px;
    color: #ece9d7;
    border-color: #ece9d7;
    border-radius: 0px;
    font-size: 20px;
    letter-spacing: 0.135em;
}


.btn:hover {
    cursor: pointer;
    box-shadow: 0 0.4rem 1.4rem 0 #ece9d7;
    transition: transform 150ms;
    transform: scale(1.03);
    color: #ece9d7;
    letter-spacing: 0.135em;
}

.createBtn:hover {
    cursor: pointer;
    box-shadow: 0 0.4rem 1.4rem 0 #ece9d7;
    transition: transform 150ms;
    transform: scale(1.03);
    color: #ece9d7;
    letter-spacing: 0.135em;
}

.modal-header {
    background: #140d07;
    color: #ece9d7;
    letter-spacing: 0.135em;
}

.modal-dialog{ 
    letter-spacing: 0.135em;
}

.modal-content{
    text-align: center !important;
    letter-spacing: 0.135em;
    position: relative;
    top: 0;
    left: 0;
    display: flex;
}

.container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    letter-spacing: 0.135em;
    padding: 2em;
    background-color: #140d07; 
}